/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: #252525;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #252525;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    position: fixed;
    width: 100%;;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #ffffff;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logo img {
    width: 200px;
}

#menu {
    font-size: 105%;
    /* letter-spacing: 1px; */
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #ffffff;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #252525;
    width: 100%;
    left: 0%;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Hide checkbox */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main content */
main {
    background-color: #ffffff;
    /* Make main element take up surplus space tp push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer */
footer {
    background-color: #252525;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* add social network symbols */
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

.copyright {
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
}


/* Disable colour on a when visited (for testing) */
a, a:visited, a:hover, a:active {
    color: inherit;
  }

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .logo {
        margin: 0 0.5rem;
        padding-top: 13px;
    }

    .logo {
        margin: 0 0.5rem;
        padding-top: 13px;
    }

    /* Main content */
    main {
        margin-top: 79px;
    }
}

/* Media query for for devices 992px and larger */
#menu a:hover {
    border-bottom: 1px solid #ffffff;
}

