/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: #252525;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

/* Header */
header {
    /* background-color: #252525; */
    background-color: #ffffff;
    /* color: #ffffff; */
    box-shadow: 0 1.5px 1.5px #3a3a3a;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
}

.logo img {
    width: 150px;
    padding-top: 10px;
}

#menu li {
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: 400;
    list-style-type: none;
}

.active {
    border-bottom: 1px solid #d92099;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    /* background-color: #252525; */
    background-color: #ffffff;
    width: 100%;
    left: 0%;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Hide checkbox */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#our-mission:target {
    padding-top: 70px;
    margin-top: -70px;
}

#meet-the-team:target {
    padding-top: 70px;
    margin-top: -70px;
}

#subscribe:target {
    padding-top: 70px;
    margin-top: -70px;
}

/* Main content */
main {
    /* Make main element take up surplus space tp push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/colour-wide-1280.webp) no-repeat center center/cover;
    position: relative;
    color: #ffffff;
}

h1 {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}

h2 {
    font-style: italic;
    font-weight: 200;
    font-size: 26px;
}

h3 {
    padding-bottom: 12px;
    text-align: center;
    color: #d92099;
    font-size: 120%;
    text-transform: uppercase;
}

h4 {
    font-size: 110%;
}

#hero-text {
    background-color: rgba(35, 37, 35, 0.7);
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-bottom-right-radius: 20px;
}

.hero-mission {
    padding-left: 20px;
}

.hero-mission ul {
    list-style-type: circle;
    line-height: 150%;
}

/* Welcome and subscribe-button section */
.welcome {
    text-align: center;
    justify-content: center;
    margin: 20px;
}

/* Subscribe button */
.subscribe-button {
    background: #d92099;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin: 20px auto;
    padding: 8px 24px;
    transition: all 200ms ease;
}

.subscribe-button:hover {
    background: #35D330;
    border: 0.5px solid #ffffff;
    color: #ffffff;
}

img {
    width: 200px;
    margin: 0 auto;
    display: block;
}

/* Photo gallery section */
#photo-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.photo {
    flex: 0 0 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.photo img {
    border-radius: 10px;
}

/* Our Mission section */
#our-mission {
    width: 90%;
    margin: 20px auto;
}

#about-us>div,
#about-approach>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#about p {
    padding: 0 20px;
}

#about hr {
    /* border-top: 1px solid #252525; */
    margin: 5px 0;
}

#mission-bg-image {
    background: url('../images/colourway-logo.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    max-width: 280px;
    max-height: 280px;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
}

#mission-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#philosophy {
    margin: 20px;
    justify-content: center;
    text-align: center;
}

/* Meet the team section */
#meet-the-team {
    text-align: center;
    margin: 20px;
}

#team-photos {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.team {
    flex: 0 0 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
    /* Ensure the container is relatively positioned */
    overflow: hidden;
    /* Hide overflowing content */
}

.team img {
    border-radius: 10px;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* Add a smooth transition for hover effect */
}

.team-overlay {
    position: absolute;
    bottom: 15px;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    color: #ffffff;
    /* Text color */
    text-align: center;
    padding: 20px;
    /* Add padding for better readability */
    transition: bottom 0.3s ease;
    /* Add transition for smooth animation */
    overflow: auto;
}

.team-overlay p {
    margin: 0;
    /* Remove default margin */
}

.team:hover .team-overlay {
    bottom: 50px;
}

/* Colour analysis & theory section */
#colour-section {
    margin: 20px auto;
    width: 90%;
}

#colour-theory>div,
#colour-analysis>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#colour-section hr {
    /* border-top: 1px solid #252525; */
    margin: 5px 0;
}

#colour-theory-video {
    width: 100%;
    display: flex;
    margin: 20px auto 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-source {
    font-size: 12px;
    margin-bottom: 20px;
}

/* Form, subscribe, contact & map section */
#subscribe {
    margin: 20px;
}

#subscribe-form {
    color: #252525;
    background-color: #fff9fc;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border: 1px solid #252525;
}

.text-input {
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #252525;
    border-radius: 2px;
    padding: 0 5px;
}

.subscribe-button-form {
    background: #d92099;
    border: 0.5px solid #ffffff;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    cursor: pointer;
    display: block;
    font-size: 18px;
    line-height: 22px;
    padding: 8px 24px;
    transition: all 200ms ease;
    margin: 20px auto;
}

.subscribe-button-form:hover {
    background: #35D330;
    color: #ffffff;
    border: 1px solid #fff;
}

/* Contact us & map section */
#contact-us {
    margin: 20px;
}

#contact {
    list-style-type: none;
    text-align: center;
    padding-bottom: 20px;
}

#map iframe {
    width: 100%;
    height: 300px;
}

/* Footer Logo */
#footer-logo {
    width: 150px;
    margin: 0 auto;
    display: block;
    padding: 5px;
}

/* Footer */
footer {
    background-color: #ffffff;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Social network symbols */
#social-networks i {
    font-size: 28px;
    padding: 5%;
    color: #252525;
}

.copyright {
    color: #252525;
    text-align: center;
    padding-bottom: 10px;
    font-size: 10px;
}

/* Disable colour on a tag when visited (for testing) */
a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .logo {
        margin: 0 0.5rem;
        padding-top: 16px;
    }

    /* Navbar menu link */
    #our-mission:target {
        padding-top: 100px;
        margin-top: -100px;
    }

    #meet-the-team:target {
        padding-top: 100px;
        margin-top: -100px;
    }

    #subscribe:target {
        padding-top: 100px;
        margin-top: -100px;
    }

    /* Main content */
    main {
        margin-top: 70px;
    }

    #hero-text {
        width: 400px;
        right: 50px;
        padding-left: 15px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 34px;
    }

    .photo {
        flex: 0 0 33.33%;
    }

    .team {
        flex: 0 0 33.33%;
    }

    /* Form */
    #subscribe-form {
        max-width: 800px;
        margin: 0 auto;
    }

    .text-input:hover {
        border-color: #d92099;
    }

    /* Contact us & map section */
    #map iframe {
        width: 100%;
        max-width: 800px;
        /* Set maximum width for the map */
        margin: 0 auto;
        /* Center the map horizontally */
        display: block;
        /* Ensure the iframe is displayed as a block element */
        height: 300px;
    }
}

/* Media query for devices 992px and larger */
@media screen and (min-width: 992px) {
    #menu a:hover {
        color: #d92099;
        border-bottom: 1px solid #d92099;
    }
}

/* Media query for devices 1200px and larger */
@media screen and (min-width: 1200px) {

    /* Our mission section */
    #about {
        display: flex;
        flex-direction: row;
    }

    #about>div {
        flex: 1;
    }

    #mission-image {
        order: 0
    }

    #about-approach {
        order: 1;
    }

    #about-approach>div {
        align-self: flex-start;
    }

    #about-us>div {
        align-self: flex-end;
    }

    /* Colour Theory & Analysis Section */
    #colour {
        display: flex;
        flex-direction: row;
    }

    #colour>div {
        flex: 1;
    }

    #colour-theory-video {
        order: 0
    }

    #colour-analysis {
        order: 1;
    }

    #colour-analysis>div {
        align-self: flex-start;
    }

    #colour-theory>div {
        align-self: flex-end;
    }

    #colour-video {
        margin: 10px 25px;
    }

    #colour-theory-video {
        display: block;
        margin: auto;
    }

    .video-source {
        margin-top: 10px;
    }
}