/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    color: #252525;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    min-height: 100vh;
}

/* Header */
header {
    align-items: baseline;
    background-color: #ffffff;
    box-shadow: 0 1.5px 1.5px #3a3a3a;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
}

header a {
    text-decoration: none;
}

.logo img {
    width: 150px;
    padding-top: 10px;
}

#menu {
    list-style-type: none;
}

#menu li {
    font-weight: 400;
    margin-bottom: 1em;
    margin-top: 1em;
}

.active {
    border-bottom: 1px solid #d92099;
}

/* Navbar styles with dropdown toggle */
nav {
    background-color: #ffffff;
    box-shadow: 0 1px 1px #3a3a3a;
    display: none;
    left: 0%;
    padding: 0 2rem;
    position: absolute;
    top: 100%;
    width: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

/* Hide checkbox */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#our-mission:target {
    margin-top: -70px;
    padding-top: 70px;
}

#meet-the-team:target {
    margin-top: -70px;
    padding-top: 70px;
}

#subscribe:target {
    margin-top: -70px;
    padding-top: 70px;
}

/* Main content */
main {
    /* Make main element take up surplus space tp push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    background: url(../images/hero-colour.webp) no-repeat center center/cover;
    color: #ffffff;
    height: 600px;
    position: relative;
    width: 100%;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}

h2 {
    color: #d92099;
    font-size: 34px;
    font-weight: 300;
    padding-bottom: 20px;
}

h3 {
    font-size: 100%;
}

hr {
    margin: 5px 0;
}

#hero-text {
    background-color: rgba(35, 37, 35, 0.7);
    border-bottom-right-radius: 20px;
    bottom: 30px;
    min-height: 200px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 20px;
    position: absolute;
    width: 80%;
}

#hero-text h2 {
    color: #ffffff;
    font-size: 26px;
    font-style: italic;
    font-weight: 200;
    margin: 0;
    text-align: left;
}

.hero-mission {
    padding-left: 20px;
}

.hero-mission ul {
    line-height: 150%;
    list-style-type: circle;
}

/* Welcome and subscribe-button section */
.welcome {
    margin: 20px auto;
    text-align: center;
    width: 90%;
}

/* Subscribe button */
.subscribe-link {
    background-color: #d92099;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    margin: 20px auto;
    padding: 8px 24px;
    transition: all 200ms ease;
    text-decoration: none;
}

.subscribe-link:hover {
    background: #00AD8C;
    border: 0.5px solid #ffffff;
    color: #ffffff;
}

.button-link {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

/* Photo gallery section */
#photo-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
}

.photo {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    padding: 5px;
}

.photo img {
    border-radius: 10px;
}

/* Our Mission section */
#our-mission {
    margin: 20px auto;
    width: 90%;
}

#about-us>div,
#about-approach>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#mission-bg-image {
    background: url('../images/colourway-logo.webp') no-repeat top center / cover;
    background-position: center;
    background-size: contain;
    height: 90vw;
    margin-bottom: 20px;
    max-height: 280px;
    max-width: 280px;
    width: 90vw;
}

#mission-image {
    align-items: center;
    display: flex;
    justify-content: center;
}

#philosophy {
    margin: 20px auto;
    width: 90%;
}

#quote h3 {
    color: #252525;
    font-size: 120%;
    font-weight: 300;
    text-align: center;
}

/* Meet the team section */
#meet-the-team {
    margin: 20px auto;
    width: 90%;
}

#team-photos {
    display: flex;
    flex-wrap: wrap;
}

.team {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    /* Hide overflowing content */
    overflow: hidden;
    padding: 5px;
    /* Ensure the container is relatively positioned */
    position: relative;
}

.team img {
    border-radius: 10px;
    /* Add a smooth transition for hover effect */
    transition: transform 0.3s ease;
    width: 100%;
}

.team-overlay {
    /* Semi-transparent black background */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    bottom: 15px;
    color: #ffffff;
    overflow: auto;
    padding: 20px;
    position: absolute;
    text-align: center;
    transition: bottom 0.3s ease;
    width: 90%;
}

.team-overlay p {
    margin: 0;
}

.team:hover .team-overlay {
    bottom: 50px;
}

/* Colour analysis & theory section */
#colour-section {
    margin: 20px auto;
    width: 90%;
}

#colour-theory>div,
#colour-analysis>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#colour-section hr {
    margin: 5px 0;
}

#colour-theory-video {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 20px auto 5px;
    width: 100%;
}

.video-source {
    font-size: 12px;
    margin-bottom: 20px;
}

/* Form, subscribe, contact & map section */
#subscribe {
    margin: 20px auto;
    max-width: 90%;
}

#subscribe h4 {
    color: #d92099;
    font-size: 150%;
    padding-bottom: 20px;
    text-align: center;
}

#subscribe-form {
    background-color: #fff9fc;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    z-index: 99;
}

.text-input {
    border: 1px solid #252525;
    border-radius: 2px;
    height: 25px;
    margin: 5px 0 20px 0;
    padding: 10px 5px;
    width: 100%;
}

.radio-buttons input[type="radio"] {
    height: 16px;
    margin: 5px;
    vertical-align: middle;
    width: 16px;
}

.radio-buttons label {
    cursor: pointer;
    display: inline-flex;
    line-height: 10px;
    padding: 10px 0;
}

.checkbox input[type="checkbox"] {
    height: 16px;
    margin: 5px;
    vertical-align: middle;
    width: 16px;
}

.checkbox label {
    cursor: pointer;
    display: inline-flex;    
}

.subscribe-button-form {
    display: block;
    margin: 20px auto;
    padding: 8px 24px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #d92099;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px #999;
  }
  
  .subscribe-button-form:hover {background-color: #00AD8C}
  
  .subscribe-button-form:active {
    background-color: #00AD8C;
    box-shadow: 0 5px #3a3a3a;
    transform: translateY(4px);
  }

/* Contact us & map section */
#contact-us {
    margin: 20px auto;
    max-width: 90%;
    text-align: center;
    line-height: 20px;
}

#contact-us h4 {
    color: #d92099;
    font-size: 150%;
    padding: 10px;
}

#contact {
    list-style-type: none;
    padding-bottom: 20px;
}

#map iframe {
    height: 300px;
    width: 100%;
}

/* Footer Logo */
#footer-logo {
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 150px;
}

/* Footer */
#social-networks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
    text-align: center;
}

/* Social network symbols */
#social-networks i {
    color: #252525;
    font-size: 28px;
    padding: 5%;
}

.copyright {
    color: #252525;
    font-size: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* Subscribed page */
#subscribed {
    margin: 30px;
    text-align: center;
}

#subscribed h2 {
    font-size: 28px;
    font-style: italic;
}

#subscribed img {
    width: 200px;
}

.return-button {
    background: #d92099;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    margin: 20px auto;
    padding: 8px 24px;
    text-decoration: none;
    transition: all 200ms ease;
}

.return-button:hover {
    background: #00AD8C;
    border: 1px solid #fff;
    color: #ffffff;
}

#sign-up {
    list-style-type: none;
}

/* Disable colour on a tag when visited (for testing) */
a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        box-shadow: none;
        display: block;
        padding-right: 1rem;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .logo {
        margin: 0 0.5rem;
        padding-top: 16px;
    }

    /* Navbar menu link */
    #our-mission:target {
        margin-top: -100px;
        padding-top: 100px;
    }

    #meet-the-team:target {
        margin-top: -100px;
        padding-top: 100px;
    }

    #subscribe:target {
        margin-top: -100px;
        padding-top: 100px;
    }

    /* Main content */
    main {
        margin-top: 70px;
    }

    #hero-text {
        padding-left: 15px;
        right: 50px;
        width: 400px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
        text-align: center;
    }

    #hero-text h2 {
        font-size: 34px;
    }

    .photo {
        flex: 0 0 33.33%;
    }

    #quote h4 {
        font-size: 150%;
        text-align: center;
    }

    .team {
        flex: 0 0 33.33%;
    }

    /* Form */
    #subscribe-form {
        margin: 0 auto;
        max-width: 800px;
    }

    .text-input:hover {
        border-color: #d92099;
    }

    /* Contact us & map section */
    #map iframe {
        display: block;
        height: 300px;
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
    }
}

/* Media query for devices 992px and larger */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #d92099;
        color: #d92099;
    }
}

/* Media query for devices 1200px and larger */
@media screen and (min-width: 1200px) {

    /* Our mission section */
    #about {
        display: flex;
        flex-direction: row;
    }

    #about>div {
        flex: 1;
    }

    #mission-image {
        order: 0
    }

    #about-approach {
        order: 1;
    }

    #about-approach>div {
        align-self: flex-start;
    }

    #about-us>div {
        align-self: flex-end;
    }

    /* Colour Theory & Analysis Section */
    #colour {
        display: flex;
        flex-direction: row;
    }

    #colour>div {
        flex: 1;
    }

    #colour-theory-video {
        order: 0
    }

    #colour-analysis {
        order: 1;
    }

    #colour-analysis>div {
        align-self: flex-start;
    }

    #colour-theory>div {
        align-self: flex-end;
    }

    #colour-video {
        margin: 10px 25px;
    }

    #colour-theory-video {
        display: block;
        margin: auto;
    }

    .video-source {
        margin-top: 10px;
    }
}